.ccm-page .header-actions {
    margin-bottom: 15px;
    display: block;
    float: left;
    width: 100%;
}

.ccm-page .clearfix {
    clear: both;
}

.ccm-page .alert li, .ccm-page .alert ul {
    list-style: none;
    margin: 0;
    padding: 0;
}